services:
  app:
    build: .
    ports:
      - "8080:8080"
    env_file:
      - ./.env
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: latte
      POSTGRES_PASSWORD: latte
      POSTGRES_DB: frappuccino
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/01-init.sql
      - ./sample_data_fixed.sql:/docker-entrypoint-initdb.d/02-sample-data.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U latte -d frappuccino"]
      interval: 5s
      timeout: 5s
      retries: 5
  pgadmin:
    image: dpage/pgadmin4
    ports:
      - "5050:80"
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@frappuccino.dev
      - PGADMIN_DEFAULT_PASSWORD=admin
    depends_on:
      - db
